{{/*  Parameter   */}}
{{- $useNameAsFallback :=  .useNameAsFallback | default true }}  


{{- $descriptionFileMd :=  .Name }}
{{- $descriptionFileTxt := .Name }}
{{- $hasExtension :=  .Name | findRE "\\..*" | len }}

{{/*  if file/foldername has a extension, replace it otherwise concat md or txt */}}
{{- if (ne $hasExtension  0) }}
	{{- $descriptionFileMd  = $descriptionFileMd | replaceRE "\\..*" ".md" }}  
	{{- $descriptionFileTxt = $descriptionFileTxt | replaceRE "\\..*" ".txt" }}  
{{- else }}
	{{- $descriptionFileMd  = print $descriptionFileMd ".md" }}  
	{{- $descriptionFileTxt = print $descriptionFileTxt ".txt" }}  
{{- end }}

{{/*  and check if there is a file  */}}
{{- $absPathDescriptionMd := path.Join .pathImages $descriptionFileMd }} 
{{- $absPathDescriptionTxt := path.Join .pathImages $descriptionFileTxt }} 
{{- $descriptionFileMdExist := os.FileExists $absPathDescriptionMd }} 
{{- $descriptionFileTxtExist := os.FileExists $absPathDescriptionTxt }} 

{{$description := ""}}
{{- if  $descriptionFileMdExist }}  
	{{ $description = os.ReadFile $absPathDescriptionMd}}
{{- else if $descriptionFileTxtExist }} 
	{{ $description = os.ReadFile $absPathDescriptionTxt}}
{{- else  }}
	{{- if $useNameAsFallback}}
		{{/*  Fallback if there is no description file  otherwise return empty string */}}
		{{- $description =  .Name | replaceRE "\\..*" "" | humanize }}<!-- humanized filename without extension -->
	{{- end}}
{{- end }}  
{{ return $description }}